doctype html
html
    head
        block head
            meta(charset="UTF-8")
            meta(name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no')

            title= `Natours | ${title}`
            link(rel='stylesheet' href='/css/style.css')
            link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
            link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,500,500i,700')

    body
        //- Header
        include components/_header

        //- Content
        block content

        //- Footer
        include components/_footer

        //- Script
        //- block script
        script(src='https://js.stripe.com/v3/')
        script(src='/js/bundle.js')
        
